<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row m-4 g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Title</label>
                   <input type="text" name="title" [(ngModel)]="title" class="form-control"> 
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">DateofPublish</label>
                    <input type="date" name="date" [(ngModel)]="date" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Description</label>
                    <textarea name="description" [(ngModel)]="description" id="" cols="30" rows="3" class="form-control"></textarea> 

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Author</label>
                   <input type="text" name="author" [(ngModel)]="author" class="form-control"> 

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">URL</label>
                   <input type="text" name="url" [(ngModel)]="url" class="form-control"> 

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Image</label>
                    <input type="text" name="image" [(ngModel)]="image" class="form-control"> 

                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="readValue()" class="btn btn-success">Submit</button>

                </div>
            </div>

        </div>
    </div>
</div>
